숫자

In [ ]:
print(273) 
print(type(273)) #정수형(int)
print(52.273)
print(type(52.273)) #실수형(float)

273
<class 'int'>
52.273
<class 'float'>

In [ ]:
#숫자 연산자-사칙연산

print("5 + 7 = ", 5 + 7)
print("5 - 7 = ", 5 - 7)
print("5 * 7 = ", 5 * 7)
print("5 / 7 = ", 5 / 7)

print("5 // 7 = ", 5 // 7) #정수 나누기 연산자 // (결과값 정수, 몫을 출력)
print("5 % 2 = ", 5 % 2) #나머지 연산자 %
print("2 ** 3 = ", 2 ** 3) #제곱 연산자 **

5 + 7 =  12
5 - 7 =  -2
5 * 7 =  35
5 / 7 =  0.7142857142857143
5 // 7 =  0
5 % 2 =  1
2 ** 3 =  8

In [ ]:
"안녕" + "하세요" * 3

'안녕하세요하세요하세요'

In [ ]:
("안녕" + "하세요") * 3

'안녕하세요안녕하세요안녕하세요'

변수

In [ ]:
#변수 선언 및 할당
pi = 3.14159265 #원주율
r = 10 #반지름

#변수 참조
print("원주율 = ", pi)
print("원의 둘레 = ", 2 * pi * r)
print("원의 넓이 = ", pi * r * r)

원주율 =  3.14159265
원의 둘레 =  62.831853
원의 넓이 =  314.159265

In [ ]:
#복합 대입 연산자
number = 100
number += 10
number += 20
number += 30
print("number: ", number)

print()

string = "안녕하세요"
string += "!"
string += "!"
print("string: ", string)

number:  160

string:  안녕하세요!!

사용자 입력 함수: input()

In [ ]:
string = input("인사말을 입력하세요: ")
print(string)

number = input("숫자를 입력하세요: ")
print(number)
print(type(number)) #input()은 입력값을 무조건 문자열 자료형으로 저장

인사말을 입력하세요: 안녕하세요
안녕하세요
숫자를 입력하세요: 23
23
<class 'str'>

In [ ]:
string = input("입력: ")
print("자료: ", string)
print("자료형: ", type(string))

입력: True
자료:  True
자료형:  <class 'str'>

In [ ]:
#문자열을 숫자로 바꾸기 (형 변환-캐스트)
string_a = input("입력 A: ")
int_a = int(string_a) #정수형으로 변환

string_b = input("입력 B: ")
int_b = int(string_b)

print("문자열 자료: ", string_a + string_b)
print("정수형 자료: ", int_a + int_b)

print()

output_a = int("52")
output_b = float("52.273") #실수형으로 변환

print(type(output_a), output_a)
print(type(output_b), output_b)

#print()
#int(3.14) #불가능

입력 A: 23
입력 B: 34
문자열 자료:  2334
정수형 자료:  57

<class 'int'> 52
<class 'float'> 52.273

In [ ]:
input_a = float(input("첫 번째 숫자: "))
input_b = float(input("두 번째 숫자: "))

print("덧셈 결과: ", input_a + input_b)
print("뺄셈 결과: ", input_a - input_b)
print("곱셈 결과: ", input_a * input_b)
print("나눗셈 결과: ", input_a / input_b)

첫 번째 숫자: 3.2
두 번째 숫자: 341.23
덧셈 결과:  344.43
뺄셈 결과:  -338.03000000000003
곱셈 결과:  1091.9360000000001
나눗셈 결과:  0.009377838994226768

In [ ]:
output_a = str(52)
output_b = str(52.273)

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273

In [ ]:
str_input = input("숫자 입력: ")
num_input = float(str_input)

print()

print(num_input, "inch")
print((num_input * 2.54), "cm")

숫자 입력: 12

12.0 inch
30.48 cm

In [ ]:
str_input = input("원의 반지름 입력: ")
num_input = float(str_input)

print()

print("반지름: ", num_input)
print("둘레: ", 2 * 3.14 * num_input)
print("넓이: ", 3.24 * (num_input ** 2))

원의 반지름 입력: 5

반지름:  5.0
둘레:  31.400000000000002
넓이:  81.0

In [ ]:
#변수 교체-스왑(swap)
a = input("문자열 입력: ")
b = input("문자열 입력: ")

print(a, b)

temp = a
a = b
b = temp

print(a, b)

문자열 입력: 안녕
문자열 입력: 반가워
안녕 반가워
반가워 안녕