if 조건문

In [ ]:
#연산자 in - 포함되는가

animal = "토끼"
print(animal in ["말", "소", "염소", "토끼"])
print(animal in ["호랑이", "사자", "곰"])
print()

last_name = "김"
print(last_name in ["김", "이", "박", "최"])
print(last_name in "김이박최") #글자수가 하나일 때, 괄호 생략 가능
print(last_name in ["강", "한", "주"])

True
False

True
True
False

In [ ]:
#예제
number = input("정수 입력: ")

last_character = number[-1]
number = int(number) #문자형 > 정수형 형 변환 필요

if last_character in "02468":
  print("짝수입니다.")
if last_character in "13579":
  print("홀수입니다.")

if number % 2 == 0:
  print("짝수입니다.")
if number % 2 == 1:
  print("홀수입니다.")

정수 입력: 12
짝수입니다.
짝수입니다.

In [ ]:
a = int(input("첫 번째 숫자: "))
b = int(input("두 번째 숫자: "))
print()

if a > b :
  print("처음 입력했던 {}가 {}보다 큽니다.".format(a, b))
if a < b :
  print("두 번재로 입력했던 {}가 {}보다 큽니다.".format(b, a))

첫 번째 숫자: 23
두 번째 숫자: 49

두 번재로 입력했던 49가 23보다 큽니다.

if-elif-else 조건문

In [ ]:
import datetime

now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
  print("봄")
elif month <= 8: #6 이상일 때만 실행(조건식에 6 <= 를 쓰지 않음)
  print("여름")
elif month <= 11:#9 이상일 때만 실행
  print("가을")
else: #month가 1, 2, 12 일 때 실행
  print("겨울")

여름

In [ ]:
#빈 컨테이너
if 0: #0은 False
  print("True")
else:
  print("False")

if 23197: #0이 아닌 다른 숫자는 True 
  print("True")
else:
  print("False")

False
True

In [ ]:
#빈 컨테이너
if "": #내용이 없는 문자열은 False
  print("True")
else:
  print("False")

if None: #내용이 없는 문자열은 False
  print("True")
else:
  print("False")

False
False

In [ ]:
#미구현 상태 - 예외처리 구문

try:
  if number > 0:
    #미구현
    print("1")
    raise NotImplementedError
  else:
    #미구현
    print("2")
    raise NotImplementedError

except:
  print("빠른 시간 내 구현하겠습니다.")

In [ ]:
#년도를 입력 받아, 윤년인지 판별

year = int(input("년도를 입력하세요: "))

if year % 1000 == 0: 
  print("평년입니다.")
elif year % 100 == 0:
  print("윤년입니다.")
elif year % 4 == 0:
  print("윤년입니다.")
else:
  print("평년입니다.")

년도를 입력하세요: 2111
평년입니다.

In [ ]:
import datetime
year = int(input("년도를 입력하세요: "))

try:
  if year % 1000 == 0:
    print("평년입니다.")
  elif year % 100 == 0:
    raise NotImplementedError
  elif year % 4 == 0:
    raise NotImplementedError
  else:
    print("평년입니다.")

except:
  print("구현 예정입니다.")

In [ ]:
str_input = input("태어난 년도를 입력해주세요: ")
birth_year = int(str_input)

if birth_year % 12 == 0:
  print("원숭이 띠입니다.")
elif birth_year % 12 == 1:
  print("닭 띠입니다.")
elif birth_year % 12 == 2:
  print("개 띠입니다.")
elif birth_year % 12 == 3:
  print("돼지 띠입니다.")
elif birth_year % 12 == 4:
  print("쥐 띠입니다.")
elif birth_year % 12 == 5:
  print("소 띠입니다.")
elif birth_year % 12 == 6:
  print("호랑이 띠입니다.")
elif birth_year % 12 == 7:
  print("토끼 띠입니다.")
elif birth_year % 12 == 8:
  print("용 띠입니다.")
elif birth_year % 12 == 9:
  print("뱀 띠입니다.")
elif birth_year % 12 == 10:
  print("말 띠입니다.")
else:
  print("양 띠입니다.")

태어난 년도를 입력해주세요: 1998
호랑이 띠입니다.

리스트

In [ ]:
#리스트(list): 여러가지 자료를 모아서 저장

array = [273, 32, 103, "문자열", True, False] #여러 자료형으로 구성 가능
print(array)
print()

print(array[0])
print(array[1])
print(array[2])
print(array[3:5])
print()

print(array[-1]) #뒤에서부터 요소 선택
print(array[-2])
print(array[-3])
print()

#리스트 특정 요소 변경
array[0] = "변경"
print(array[0])

[273, 32, 103, '문자열', True, False]

273
32
103
['문자열', True]

False
True
문자열

변경

In [ ]:
#리스트 접근 연산자 이중으로 사용 가능
array[3][0]

'문'

In [ ]:
#리스트를 여러 개 가지는 리스트
list_a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print(list_a[0])
print(list_a[1])
print(list_a[2])
print()

print(list_a[1][0])
print(list_a[1][1])
print(list_a[1][2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

4
5
6

In [ ]:
#리스트 연산자 +, *, len()

list_b = [1, 2, 3]
list_c = [4, 5, 6]

print("list_b = ", list_b)
print("list_c = ", list_c)
print()

print("list_b + list_c = ", list_b + list_c) #리스트 연결
print("list_b * 3 = ", list_b * 3) #리스트 반복
print()

print("len(list_b) = ", len(list_b)) #리스트 내 요소의 개수 출력

list_b =  [1, 2, 3]
list_c =  [4, 5, 6]

list_b + list_c =  [1, 2, 3, 4, 5, 6]
list_b * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]

len(list_b) =  3

In [ ]:
list_b.append(4) #리스트 뒤에 요소 추가 .append(요소)
print(list_b)

list_b.insert(1,5) #리스트 중간에 요소 추가 .insert(위치, 요소)
print(list_b)

[1, 2, 3, 4]
[1, 5, 2, 3, 4]

In [ ]:
list_d = [1, 2, 3]
list_d.extend([4, 5, 6]) #리스트 뒤에 새로운 리스트의 요소 모두 추가 .extend([요소1, 요소2, ...])
print(list_d)
print()
#리스트 연결 연산자와 달리, 원본에 변화가 생김(파괴적 처리)

#원본에 변화 없음(비파괴적 처리)
list_d1 = [1, 2, 3]
list_d2 = [4, 5, 6]
print(list_d1 + list_d2)
print(list_d1)
print(list_d2)

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [ ]:
list_e = [0, 1, 2, 3, 4, 5]

del list_e[1] #해당 인덱스에 있는 요소 제거 del 리스트명[인덱스]
print("del list_e[1]: ", list_e)

list_e.pop(2) #해당 인덱스에 있는 요소 제거 .pop(인덱스)
print("pop(2): ", list_e)

print()

list_f = [0, 1, 2, 3, 4, 5]
del list_f[1:4] #범위 지정-여러 개의 요소 한 번에 제거
print(list_f)

del list_e[1]:  [0, 2, 3, 4, 5]
pop(2):  [0, 2, 4, 5]

[0, 4, 5]

In [ ]:
list_g = [1, 2, 1, 2]
list_g.remove(2) #특정 값을 지정하여 제거
list_g

[1, 1, 2]

In [ ]:
list_h = [0, 1, 2, 3, 4, 5]
list_h.clear() #모든 요소 제거
list_h

[]

In [ ]:
list_i = [273, 32, 103, 57, 52]

print(273 in list_i) #특정 값이 리스트 내부에 있는지 확인
print(99 in list_i)

print(273 not in list_i) #특정 값이 리스트 내부에 없는지 확인
print(99 not in list_i)

True
False
False
True

for 반복문

In [ ]:
for i in range(5):
  print("출력")

출력
출력
출력
출력
출력

In [ ]:
array = [273, 32, 103, 57, 52]

for element in array:
  print(element)

273
32
103
57
52

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if number >= 100:
    print("-100 이상의 수: ", number)

-100 이상의 수:  273
-100 이상의 수:  103
-100 이상의 수:  800

In [ ]:
numbers = [273, 103, 5, 32, 65, 9, 72, 800, 99]

for number in numbers:
  if (number % 2) == 0:
    print("{}는 짝수입니다.".format(number))
  else:
    print("{}는 홀수입니다.".format(number))

print()

for number in numbers:
  print("{}는 {} 자리수입니다.".format(number, len(str(number))))

273는 홀수입니다.
103는 홀수입니다.
5는 홀수입니다.
32는 짝수입니다.
65는 홀수입니다.
9는 홀수입니다.
72는 짝수입니다.
800는 짝수입니다.
99는 홀수입니다.

273는 3 자리수입니다.
103는 3 자리수입니다.
5는 1 자리수입니다.
32는 2 자리수입니다.
65는 2 자리수입니다.
9는 1 자리수입니다.
72는 2 자리수입니다.
800는 3 자리수입니다.
99는 2 자리수입니다.

In [ ]:
list_of_list = [[1, 2, 3], [4, 5, 6, 7], [8, 9]]

for i in list_of_list:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

output[0].append(numbers[0])
output[0].append(numbers[3])
output[0].append(numbers[6])

output[1].append(numbers[1])
output[1].append(numbers[4])
output[1].append(numbers[7])

output[2].append(numbers[2])
output[2].append(numbers[5])
output[2].append(numbers[8])

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#위의 예제를 for문으로 간략히 구현하기
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
output = [[], [], []]

for number in numbers:
  print("number = ", number)
  print("number + 2 = ", number + 2)
  print("(number + 2) % 3 = ", (number + 2) % 3)
  print()

  output[(number + 2) % 3].append(number)

print(output)

number =  1
number + 2 =  3
(number + 2) % 3 =  0

number =  2
number + 2 =  4
(number + 2) % 3 =  1

number =  3
number + 2 =  5
(number + 2) % 3 =  2

number =  4
number + 2 =  6
(number + 2) % 3 =  0

number =  5
number + 2 =  7
(number + 2) % 3 =  1

number =  6
number + 2 =  8
(number + 2) % 3 =  2

number =  7
number + 2 =  9
(number + 2) % 3 =  0

number =  8
number + 2 =  10
(number + 2) % 3 =  1

number =  9
number + 2 =  11
(number + 2) % 3 =  2

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]