# 범위 함수 range()

In [ ]:
#range(): 특정 횟수만큼 반복해서 돌리고 싶을 때, for 반복문과 조합하여 사용
#range(a): 0 이상 a 미만의 숫자들을 저장한 리스트

print(list(range(10))) #0부터 9까지의 정수
print(list(range(1, 5))) #1부터 5까지의 정수
print(list(range(1, 10, 2))) #1부터 9까지의 정수, 2 씩 차이나도록
print()

#매개변수 내부에 수식을 사용하는 경우

#코드의 특정 부분을 강조할 때
a = range(0, 10 + 1)
print(list(a))
print()

#정수 나누기 연산자의 사용
n = 10
b = range(0, n // 2) 
print(list(b))
#range(0, n/2)는 오류 발생 : 파이썬에서 나누기의 결과값은 항상 실수
#range(0, int(n/2))는 잘 사용하지 않음

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4]

In [ ]:
#for 숫자 변수 in 범위:
for i in range(5):
  print(str(i) + " = 반복 변수")
print()

for i in range(5, 10):
  print(str(i) + " = 반복 변수")
print()

for i in range(0, 10, 3):
  print(str(i) + " = 반복 변수")

0 = 반복 변수
1 = 반복 변수
2 = 반복 변수
3 = 반복 변수
4 = 반복 변수

5 = 반복 변수
6 = 반복 변수
7 = 반복 변수
8 = 반복 변수
9 = 반복 변수

0 = 반복 변수
3 = 반복 변수
6 = 반복 변수
9 = 반복 변수

In [ ]:
#몇 번 반복인지 알아야 하는 경우
array = [273, 32, 103, 57, 52]

for i in range(len(array)):
  print("{}번째 반복: {}".format(i, array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

In [ ]:
#역반복문

#range()의 매개변수를 세 개 사용하는 방법
for i in range(4, 0 - 1, -1):
  print("현재 반복 변수: {}".format(i))
print()

#reversed() 사용
print(list(reversed(range(5))))
for i in reversed(range(5)):
  print("현재 반복 변수: {}".format(i))

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

[4, 3, 2, 1, 0]
현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

# while 반복문

In [ ]:
#while 반복문의 사용
while True: #불 표현식이 True 일 때,
  #"."을 출력
  #기본적으로 end가 "\n"이라 줄바꿈이 일어나지만, 빈 문자열로 바꿔 줄바꿈이 없도록 함
  print(".", end = "")
  break #무한루프를 막기 위해 break 사용

while False: #불 표현식이 False 이기 때문에,
  print(".") #한번도 실행되지 않음

.

In [ ]:
i = 0
while i < 10:
  print("{}번째 반복입니다.".format(i))
  i += 1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [ ]:
list_test = [1, 2, 1, 2]
value = 2

for i in list_test:
  print("i = ", i)
print()

#while i in list_test: <- 이렇게 쓰면 무한반복됨 
#while 반복문에서 in은 포함 여부를 의미함

while value in list_test:
  print("처음의 list_test: ", list_test)
  list_test.remove(value)

print(list_test)

i =  1
i =  2
i =  1
i =  2

처음의 list_test:  [1, 2, 1, 2]
처음의 list_test:  [1, 1, 2]
[1, 1]

In [ ]:
#유닉스 타임 구하기
#유닉스 타임: 세계 표준시(UTC)
#1970년 1월 1일 00시:00분:00초를 기준으로 지금 현재까지 흐른 모든 시간을 초(sec) 단위로 표현

import time #시간과 관련된 기능

time.time()

1592976623.533643

In [ ]:
import time
number = 0

target_tick = time.time() + 5 #현재 시각 + 5초 의미
while time.time() < target_tick: #5초 동안 반복
  number += 1

print("5초 ehddks {}번 반복했습니다.".format(number))

5초 ehddks 27130981번 반복했습니다.

In [ ]:
import time
number = 0

target_tick = time.time() + 100 #현재 시각 + 100초 의미
while time.time() < target_tick: #100초 동안 반복
  print("원래 number =  ", number)
  number += 1
  print("1 증가시킨 number = ", number)
  #파이썬을 n초 동안 멈춤
  #time.sleep(파이썬이 멈추는 시간: 단위 1초)
  print("멈추기 시작")
  time.sleep(10) #10초 멈춤
  print("멈추기 종료")
  print()

print("5초동안 {}번 반복했습니다.".format(number))

원래 number =   0
1 증가시킨 number =  1
멈추기 시작
멈추기 종료

원래 number =   1
1 증가시킨 number =  2
멈추기 시작
멈추기 종료

원래 number =   2
1 증가시킨 number =  3
멈추기 시작
멈추기 종료

원래 number =   3
1 증가시킨 number =  4
멈추기 시작
멈추기 종료

원래 number =   4
1 증가시킨 number =  5
멈추기 시작
멈추기 종료

원래 number =   5
1 증가시킨 number =  6
멈추기 시작
멈추기 종료

원래 number =   6
1 증가시킨 number =  7
멈추기 시작
멈추기 종료

원래 number =   7
1 증가시킨 number =  8
멈추기 시작
멈추기 종료

원래 number =   8
1 증가시킨 number =  9
멈추기 시작
멈추기 종료

원래 number =   9
1 증가시킨 number =  10
멈추기 시작
멈추기 종료

5초동안 10번 반복했습니다.

In [ ]:
#break: 반복문을 벗어날 때 사용하는 키워드 

#for, while 반복문 안에서, 조건문과 함께 사용 
#조건이 참일 때, 반복문을 종료

i = 0
while True:
  print("{}번째 반복문입니다.".format(i))
  i += 1

  input_text = input("종료하시겠습니까? (y): ")
  print()
  
  if input_text in ["y", "Y"]:
    print("반복을 종료합니다.")
    break

0번째 반복문입니다.
종료하시겠습니까? (y): n

1번째 반복문입니다.
종료하시겠습니까? (y): n

2번째 반복문입니다.
종료하시겠습니까? (y): n

3번째 반복문입니다.
종료하시겠습니까? (y): y

반복을 종료합니다.

In [ ]:
#continue: 현재 반복을 생략하고 다음 반복으로 넘어감
#조건문과 함께 사용
#조건이 참일 때, 다음 요소로 넘어감

numbers = [5, 15, 6, 20, 7, 25]

for number in numbers: #10보다 큰 숫자만 출력
  if number < 10:
    continue
  print(number)
print()

for number in numbers: #10보다 작은 숫자만 출력
  if number > 10:
    continue
  print(number)

15
20
25

5
6
7

In [ ]:
range(5)
range(4, 6)
range(7, 0, -1)
range(3, 8)
range(3, 10, 3)

In [ ]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

i = 0
while i < 4:
  character[key_list[i]] = value_list[i]
  i += 1

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for i in range(len(key_list)):
  character[key_list[i]] = value_list[i]

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [ ]:
limit = 10000
i = 1
sum_value = 0

while True:
  sum_value += i

  if sum_value > limit:
    print("반복을 종료합니다.")
    break

  i += 1

print("{}를 더할 때 {}을 넘으며, 그때의 값은 {}입니다.".format(i, limit, sum_value))

반복을 종료합니다.
141를 더할 때 10000을 넘으며, 그때의 값은 10011입니다.

In [ ]:
limit = 100
i = 1
sum_value = 0

while True:
  print("처음 i: ", i)
  sum_value += i
  print("지금 까지의 합: ", sum_value)

  if sum_value > limit:
    print("반복을 종료합니다.")
    break

  i += 1
  print("나중 i: ", i)
  print()

print("{}를 더할 때 {}을 넘으며, 그때의 값은 {}입니다.".format(i, limit, sum_value))

처음 i:  1
지금 까지의 합:  1
나중 i:  2

처음 i:  2
지금 까지의 합:  3
나중 i:  3

처음 i:  3
지금 까지의 합:  6
나중 i:  4

처음 i:  4
지금 까지의 합:  10
나중 i:  5

처음 i:  5
지금 까지의 합:  15
나중 i:  6

처음 i:  6
지금 까지의 합:  21
나중 i:  7

처음 i:  7
지금 까지의 합:  28
나중 i:  8

처음 i:  8
지금 까지의 합:  36
나중 i:  9

처음 i:  9
지금 까지의 합:  45
나중 i:  10

처음 i:  10
지금 까지의 합:  55
나중 i:  11

처음 i:  11
지금 까지의 합:  66
나중 i:  12

처음 i:  12
지금 까지의 합:  78
나중 i:  13

처음 i:  13
지금 까지의 합:  91
나중 i:  14

처음 i:  14
지금 까지의 합:  105
반복을 종료합니다.
14를 더할 때 100을 넘으며, 그때의 값은 105입니다.

In [ ]:
#잘못된 코드 ?????

limit = 10000
i = 1
sum_value = 0

while sum_value < limit:
  sum_value += i
  i += 1

print("{}를 더할 때 {}을 넘으며, 그때의 값은 {}입니다.".format(i, limit, sum_value))

142를 더할 때 10000을 넘으며, 그때의 값은 10011입니다.

In [ ]:
max_value = 0
a = 0 
b = 0

for i in range(1, 100):
  j = 100 - i
  multiple = i * j

  if multiple > max_value:
    max_value = multiple
    a = i
    b = j

print("최대가 되는 경우: {} * {} = {}".format(a, b, max_value))

최대가 되는 경우: 50 * 50 = 2500