#복습

In [ ]:
max_value = 0
a = 0 
b = 0

for i in range (1, 100):
  print("i = ", i)

  j = 100 - i
  print("j = ", j)

  multi = i * j
  print("{} * {} = {}".format(i, j, multi))

  if multi > max_value: #multi(두 수의 곱) > 현재까지의 max_value 일 때, 
    max_value = multi #max_value 값 갱신
    a = i #a, b 각각에 대입
    b = j
    print("현재 최댓값은 {} * {} = {}".format(a, b, max_value))

  print("-"*100)

print("최대가 되는 경우: {} * {} = {}".format(a, b, max_value))

In [ ]:
# 위의 예제 간결히 표현

max_value = 0
a = 0 
b = 0

for i in range(1, 100):
  j = 100 - i
  multiple = i * j

  if multiple > max_value:
    max_value = multiple
    a = i
    b = j

print("최대가 되는 경우: {} * {} = {}".format(a, b, max_value))

최대가 되는 경우: 50 * 50 = 2500

# 함수

In [ ]:
#함수 만들기

def print_3_times(): #함수 정의
  print("안녕하세요")
  print("안녕하세요")
  print("안녕하세요")

print_3_times() #함수 실행
print()

def print_n_times(value, n): #매개변수가 있는 함수
  for i in range(n):
    print(value)

print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
#목표 - 업그레이드가 쉬운 프로그램을 구현해야 함(확장성 ↑)

#방법 1
print("안녕하세요")
print("안녕하세요")
print("안녕하세요")
print()

#방법 2
for i in range(3):
  print("안녕하세요")
print()

#방법 3 함수 만들기 - 확장성이 제일 좋음!
def print_3_times():
  for i in range(3):
    print("안녕하세요")

#실행부문
print_3_times().

안녕하세요
안녕하세요
안녕하세요

안녕하세요
안녕하세요
안녕하세요

안녕하세요
안녕하세요
안녕하세요

매개변수(기본)

*   항목 추가
*   항목 추가

In [ ]:
def print_n_times(value, n): #value: 인사말, n: 몇 번 인사
  for i in range(n):
    print(value)

print_n_times("사장님 안녕하세요?", 3)
print_n_times("안녕 길동아!", 2)

사장님 안녕하세요?
사장님 안녕하세요?
사장님 안녕하세요?
안녕 길동아!
안녕 길동아!

리턴

In [ ]:
#자료 없이 리턴하기
def return_test():
  print("A 위치입니다.")
  return
  print("B 위치입니다.")

return_test()
print()

#자료와 함께 리턴하기
def return_test2():
  return 100

value = return_test2()
print(value)
print()

#아무것도 리턴하지 않기
def return_test3():
  return

value2 = return_test3()
print(value2)

A 위치입니다.

100

None

In [ ]:
import time

def return_test():
  print("return_test 실행 시작")
  print("A 위치 입니다.")

  print("파이썬이 5초 멈춥니다.")
  time.sleep(5)

  print("함수 실행한 부분으로 돌아갑니다.")
  return
  print("B의 위치 입니다. 내가 실행될까요?") #retun 뒤의 코드는 실행되지 않음

print("return_test 호출 시작")
print()

return_test()
print()

print("return_test 호출 종료")

return_test 호출 시작

return_test 실행 시작
A 위치 입니다.
파이썬이 5초 멈춥니다.
함수 실행한 부분으로 돌아갑니다.

return_test 호출 종료

In [ ]:
#자료와 함께 리턴하기
import time

def return_test():
  print("return_test 실행 시작")
  print("A 위치 입니다.")

  print("파이썬이 5초 멈춥니다.")
  time.sleep(5)

  print("함수 실행한 부분으로 100을 가지고 돌아갑니다.")
  return 100

print("return_test 호출 시작")
print()

value = return_test()
print(value)
print("value = ", value)

print("return_test 호출 종료")

return_test 호출 시작

return_test 실행 시작
A 위치 입니다.
파이썬이 5초 멈춥니다.
함수 실행한 부분으로 100을 가지고 돌아갑니다.
100
value =  100
return_test 호출 종료

In [ ]:
def sum(n):
  sum_number = 0
  for i in range(n + 1):
    sum_number += i
  
  return sum_number

print(sum(3))

6

In [ ]:
def sum_range(a, b):
  sum_number = 0
  for i in range(a, b + 1):
    sum_number += i
  return sum_number

print(sum_range(1,10))

55

In [ ]:
def sum_all(start, end):
  output = 0
  for i in range(start, end + 1):
    output += i
  return output

print("0 to 100: ", sum_all(0, 100))
print()

def sum_all2(start = 0, end = 100, step = 1):
  output = 0
  for i in range(start, end + 1, step):
    output += i
  return output

print("A. ", sum_all2(0, 100, 10))
print("B. ", sum_all2(end = 100))
print("C. ", sum_all2(end = 100, step = 2))

0 to 100:  5050

A.  550
B.  5050
C.  2550

In [ ]:
def f(x):
  return 2*x + 1

print(f(10))

21

In [ ]:
def g(x):
  return x**2 + 2*x + 1

print(g(10))

121

#매개변수

In [ ]:
#가변 매개변수: 매개변수를 원하는 만큼 받을 수 있는 함수
#가변 매개변수 뒤에는 일반 매개변수가 올 수 없음
#가변 매개변수는 하나만 사용 가능

def print_n_times2(n, *values):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times2(3, "안녕하세요", "즐거운", "파이썬 프로그래밍")

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

In [ ]:
#기본 매개변수: 매개변수 값을 입력하지 않았을 경우, 매개변수에 들어가는 기본값
#print(value, ..., sep = ' ', end = '\n', file = sys.stdout, flush = False)
def print_n_times3(value, n = 2):
  for i in range(n):
    print(value)

print_n_times3("안녕하세요")
print()

#기본 매개변수가 가변 매개변수보다 앞설 때, 그 의미가 사라짐
#기본 매개변수보다 가변 매개변수가 앞설 때, 가변 매개변수강 우선시 됨
def print_n_times4(*values, n = 2):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times4("안녕하세요", "즐거운", "파이썬 프로그래밍", 3)

안녕하세요
안녕하세요

안녕하세요
즐거운
파이썬 프로그래밍
3

안녕하세요
즐거운
파이썬 프로그래밍
3

In [ ]:
#키워드 매개변수: 매개변수 이름을 지정해서 입력하는 매개변수
while True: #불 표현식이 True 일 때,
  #"."을 출력
  #기본적으로 end가 "\n"이라 줄바꿈이 일어나지만, 빈 문자열로 바꿔 줄바꿈이 없도록 함
  print(".", end = "")
  break #무한루프를 막기 위해 break 사용
print()

print_n_times4("안녕하세요", "즐거운", "파이썬 프로그래밍", n = 3)

.
안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

In [ ]:
#키워드 매개변수
#기본 매개변수에서 필요한 값만 입력한 경우

def test(a, b = 10, c = 100):
  print(a + b - c)

test(10, 20, 30) #기본 형태
test(a = 10, b = 100, c = 200) #키워드 매개변수로 모두 지정한 형태
test(c = 10, a = 100, b = 200) #키워드 매개변수로 모든 매개변수를 마구잡이로 지정한 형태
test(10, c = 200) #키워드 매개변수로 일부만 지정한 형태

0
-90
290
-180

In [ ]:
def mul(*values):
  output = 1
  for value in values:
    output *= value
  return output

print(mul(5, 7, 9, 10))

3150

매개변수 - 가변 매개변수

In [ ]:
def sum_1(a, b):
  print("a = ", a)
  print("b = ", b)
  sum = a + b
  return a + b

sum_1(10, 20)

a =  10
b =  20

30

In [ ]:
#위의 예제를 가변 매개변수 형태로 변환
def sum_2(*numbers):
  print("numbers = ", numbers) #튜플.. 뒤에서 배움!
  print()
  result = 0
  for num in numbers:
    print("num = ", num)
    result += num
    print("result = ", result)
    print("-" * 100)
  return result

sum_2(1, 2, 3, 4, 5)

numbers =  (1, 2, 3, 4, 5)

num =  1
result =  1
----------------------------------------------------------------------------------------------------
num =  2
result =  3
----------------------------------------------------------------------------------------------------
num =  3
result =  6
----------------------------------------------------------------------------------------------------
num =  4
result =  10
----------------------------------------------------------------------------------------------------
num =  5
result =  15
----------------------------------------------------------------------------------------------------

15

In [ ]:
def print_n_times(n, *values):
  print("values = ", values)
  print()
  
  for i in range(n):
    for value in values:
      print("value = ", value)
    print("-" * 100)

print_n_times(2, "안녕 회장!", "월급 올려줘", "돈 많은 백수 할래 ㅠ", "일 적게 시키고 돈 많이 줘")

values =  ('안녕 회장!', '월급 올려줘', '돈 많은 백수 할래 ㅠ', '일 적게 시키고 돈 많이 줘')

value =  안녕 회장!
value =  월급 올려줘
value =  돈 많은 백수 할래 ㅠ
value =  일 적게 시키고 돈 많이 줘
----------------------------------------------------------------------------------------------------
value =  안녕 회장!
value =  월급 올려줘
value =  돈 많은 백수 할래 ㅠ
value =  일 적게 시키고 돈 많이 줘
----------------------------------------------------------------------------------------------------

매개변수 - 기본 매개변수

In [ ]:
#인사말 반복 출력, 대부분은 2번 반복하며, 아닌 것도 있음
def print_n_times(value, n = 2):
  for i in range(n):
    print(value)

print_n_times("안녕") #n을 생략해도, 기본값만큼 반복 출력함

안녕
안녕

In [ ]:
#매개변수가 여러 개일 때, 이름을 명시해 실행(호출)
def test(a, *values, b = 10, c = 100):
  print("a = ", a)
  print("values = ", values)
  print("b = ", b)
  print("c = ", c)

test(10, "안녕", "또 만나", 20, 30) #20, 30이 가변 매개변수화됨
print()

test(10, "안녕", "또 만나", b = 20, c = 30)

a =  10
values =  ('안녕', '또 만나', 20, 30)
b =  10
c =  100

a =  10
values =  ('안녕', '또 만나')
b =  20
c =  30

In [ ]:
#다시 한 번 복습 시작 ! 
#가변 매개변수

def print_n_times(n, *values):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times(3, "안녕", "반가워")
print("-" * 100)

#기본 매개변수
def print_n_times(value, n = 2):
  for i in range(n):
    print(value)

print_n_times("안녕")
print("-" * 100)

#가변 매개변수와 기본 매개변수의 순서 
#1. 기본 매개변수가 앞설 때,

def print_n_times(n = 2, *values):
  for i in range(n):
    for value in values:
      print(value)
    print()

try: 
  print_n_times("안녕", "반가워")
except:
  print("#기본 매개변수는 가변 매개변수 앞에 써도 별 의미가 없다 - n에 \"안녕\"이 들어가버리는 것 > 오류 발생")
print("-" * 100) 

#2. 가변 매개변수가 앞설 때,
def print_n_times(*values, n = 2):
  for i in range(n):
    for value in values:
      print(value)
    print()

print_n_times("안녕", "반가워", 3)
print() #이 때는, 뒤의 기본 매개변수가 가변 매개변수로 인식됨

#가변 매개변수와 기본 매개변수 함께 쓰는 법: 키워드 매개변수
def test(a, b = 10, c = 100):
  print(a + b - c)

test(10, 20, 30) #기본 형태
test(a = 10, b = 100, c = 200) #키워드 매개변수로 모두 지정한 형태
test(c = 10, a = 100, b = 200) #키워드 매개변수로 모든 매개변수를 마구잡이로 지정한 형태
test(10, c = 200) #키워드 매개변수로 일부만 지정한 형태

#가변 매개변수 & 키워드 매개변수
def sum_all2(start = 0, end = 100, step = 1):
  output = 0
  for i in range(start, end + 1, step):
    output += i
  return output

print("A. ", sum_all2(0, 100, 10))
print("B. ", sum_all2(end = 100))
print("C. ", sum_all2(end = 100, step = 2))

안녕
반가워

안녕
반가워

안녕
반가워

----------------------------------------------------------------------------------------------------
안녕
안녕
----------------------------------------------------------------------------------------------------
#기본 매개변수는 가변 매개변수 앞에 써도 별 의미가 없다 - n에 "안녕"이 들어가버리는 것 > 오류 발생
----------------------------------------------------------------------------------------------------
안녕
반가워
3

안녕
반가워
3


0
-90
290
-180
A.  550
B.  5050
C.  2550

In [ ]:
#확인 문제2
def mul(*values):
  result = 1
  for value in values:
    result *= value
  return result

print(mul(5, 7, 9, 10))

3150

In [ ]:
def function(*values, valueA, valueB):
  pass

try: 
  function(1, 2, 3, 4, 5) 
except:
  print("#1, 2, 3, 4, 5를 가변 매개변수로 인식, valueA와 valueB가 정의되지 않음으로 오류가 발생함!")

#1, 2, 3, 4, 5를 가변 매개변수로 인식, valueA와 valueB가 정의되지 않음으로 오류가 발생함!

In [ ]:
#아래는 모두 오류가 발생하지 않는 코드!

def function(*values, valueA = 10, valueB = 20):
  pass

function(1, 2, 3, 4, 5)

def function(valueA, valueB, *values):
  pass

function(1, 2, 3, 4, 5)

def function(valueA = 10, valueB = 20, *values):
  pass

function(1, 2, 3, 4, 5)