# 문자열, 리스트, 딕셔너리

문자열, 리스트, 딕셔너리 관련 기본 함수

In [ ]:
#리스트 min(), max(), sum()
numbers = [103, 52, 273, 32, 77]
print(min(numbers)) #최솟값
print(max(numbers)) #최댓값
print(sum(numbers)) #합계

32
273
537

In [ ]:
 #리스트 reversed
 list_a = [1, 2, 3, 4, 5]
 list_reversed = reversed(list_a)

 print("#reversed 함수")
 print("reversed[1, 2, 3, 4, 5]: ", list_reversed)
 print("list(reversed[1, 2, 3, 4, 5]): ", list(list_reversed))
 print()

 for i in reversed(list_a): #reversed()는 제너레이터: 필요한 시점에 함수를 사용함
   print(i)
print()

#같은 기능: 확장 슬라이싱
print(list_a[::-1]) #비파괴적 코드

#reversed 함수
reversed[1, 2, 3, 4, 5]:  <list_reverseiterator object at 0x7f97d5a955c0>
list(reversed[1, 2, 3, 4, 5]):  [5, 4, 3, 2, 1]

5
4
3
2
1

[5, 4, 3, 2, 1]

In [ ]:
#리스트 enumerate(): 리스트 요소 반복 시 인덱스 확인을 용이하게 함
example_list = ["A", "B", "C"]

print("#enumerate() 함수 적용")
print(enumerate(example_list))
print()

print("#list() 함수로 강제 변환해 출력")
print(list(enumerate(example_list))) #튜플 형태로 묶임
print()

print("#반복문과 조합하기")
for i, value in enumerate(example_list):
  print("{}번째 요소는 {}입니다.".format(i, value))

#enumerate() 함수 적용
<enumerate object at 0x7f97f612a1b0>

#list() 함수로 강제 변환해 출력
[(0, 'A'), (1, 'B'), (2, 'C')]

#반복문과 조합하기
0번째 요소는 A입니다.
1번째 요소는 B입니다.
2번째 요소는 C입니다.

In [ ]:
#딕셔너리 items() : enumerate()와 동일한 역할
example_dictionary = {
    "키 A" : "값 A",
    "키 B" : "값 B",
    "키 C" : "값 C"    
}

print("#딕셔너리의 items() 함수 결과 출력하기")
print("items(): ", exmple_dictionary.items())
print()

print("#반복문과 조합하기")
for key, element in example_dictionary.items():
  print("dictionary[{}] = {}".format(key, element))

#딕셔너리의 items() 함수 결과 출력하기
items():  dict_items([('키 A', '값 A'), ('키 B', '값 B'), ('키 C', '값 C')])

#반복문과 조합하기
dictionary[키 A] = 값 A
dictionary[키 B] = 값 B
dictionary[키 C] = 값 C

In [ ]:
#리스트 내포(list comprehension)
array = []

for i in range(0, 20, 2):
  array.append(i * i)

print(array)

#위 코드를 간단하게 표현하면,
array2 = [i * i for i in range(0, 20, 2)] #리스트 이름 = [표현식 for 반복자 in 반복할 수 있는 것]
print(array2)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
#리스트 내포
array = ["사과", "자두", "초콜릿", "바나나", "체리"]
output = [fruit for fruit in array if fruit != "초콜릿"]
print(output)

['사과', '자두', '바나나', '체리']

매개변수

# 함수의 활용

In [ ]:
#재귀함수 - 팩토리얼

#반복문으로 구하기
def factorial(n):
  output = 1
  for i in range(1, n + 1):
    output *= i
  return output

print("5!: ", factorial(5))

#재귀함수로 구하기
def factorial2(n):
  if n == 0:
    return 1
  else: 
    return n * factorial2(n-1)

print("5!: ", factorial2(5))

5!:  120
5!:  120

In [ ]:
#재귀함수 - 피보나치 수열

counter = 0

def fibonacci(n):
  print("fibonacci({})를 구합니다".format(n))
  global counter
  counter += 1

  if n == 1: 
    return 1
  if n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

fibonacci(5)
print("___")
print("fibonacci(5) 계산에 활용된 덧셈 횟수는 {}번입니다.".format(counter))

fibonacci(5)를 구합니다
fibonacci(4)를 구합니다
fibonacci(3)를 구합니다
fibonacci(2)를 구합니다
fibonacci(1)를 구합니다
fibonacci(2)를 구합니다
fibonacci(3)를 구합니다
fibonacci(2)를 구합니다
fibonacci(1)를 구합니다
___
fibonacci(5) 계산에 활용된 덧셈 횟수는 9번입니다.

#함수 고급

튜플

In [ ]:
#리스트: 저장된 값 변경 가능 - 용이하지만, 속도가 느림, 메모리 많이 차지
#튜플: 리스트와 유사한 자료형, 한 번 결정된 요소는 바꿀 수 없음 - 불편하지만, 속도가 빠름, 메모리 적게 차지

#데이터 타입 별 차지하는 메모리의 크기가 다름
#숫자(정수, 실수 구분없이) 8바이트
#문자 - 영어/숫자는 1바이트, 서유럽어 2바이트, 그 외 3바이트
#불린 1바이트

test_list = [1, "안녕", True, 3.14] #건너건너 찾아가는 주소
tuple_list = (1, "안녕", True, 3.14) #각각의 주소를 파악 - 알고 있음(처음 한 번 정해지면 고정!)

In [ ]:
#요소를 하나만 가지는 튜플은 (273, ) <- 이렇게 선언해야 함!!

tuple_test = (10, 20, 30)
print(tuple_test[0])
print(tuple_test[1])
print(tuple_test[2])
print()

try: 
  tuple_test[0] = "변경" #요소 변경 불가! 에러 발생!
except:
  print("튜플 요소는 변경이 불가능합니다.")

10
20
30
튜플 요소는 변경이 불가능합니다.

In [ ]:
#리스트와 튜플의 특이한 사용
#저장된 값을 변수에 바로 저장 가능

list_test = [100, 200, 300]
a = list_test[0]
b = list_test[1]
c = list_test[2]
print("a = ", a,"\tb = ", b, "\tc = ", c)
print()

#파이썬에서는 아래의 방법을 더 많이 사용함
a1, b1, c1 = list_test
print("a1 = ", a1, "\tb1 = ", b1, "\tc1 = ", c1)
print()

#튜플도 동일하게 사용 가능
A, B, C = (1, 2, 3)
print("A = ", A, "\tB = ", B, "\tC = ", C)

a =  100 	b =  200 	c =  300

a1 =  100 	b1 =  200 	c1 =  300

A =  1 	B =  2 	C =  3

In [ ]:
#괄호가 없는 튜플
#괄호가 없으면 기본적으로 튜플로 인식함 - 컴퓨터가 더 편한 방향

tuple_test2 = 10, 20, 30, 40 
print("#괄호가 없는 튜플의 값과 자료형 출력")
print("tuple_test2: ", tuple_test)
print("type(tuple_test2): ", type(tuple_test))
print()

#괄호가 없는 튜플 활용
a, b, c = 10, 20, 30
print("#괄호가 없는 튜플을 활용한 할당")
print("a: ", a)
print("b: ", b)
print("c: ", c)

#괄호가 없는 튜플의 값과 자료형 출력
tuple_test2:  (100, 200, 300)
type(tuple_test2):  <class 'tuple'>

#괄호가 없는 튜플을 활용한 할당
a:  10
b:  20
c:  30

In [ ]:
#변수의 값을 교환하는 튜플
print("#예시: 변수의 값을 교환하는 튜플")
d, e = 100, 200

print("#교환 전 값")
print("d: ", d)
print("e: ", e)

d, e = e, d #값 교환

print("#교환 후 값")
print("d: ", d)
print("e: ", e)

#예시: 변수의 값을 교환하는 튜플
#교환 전 값
d:  100
e:  200
#교환 후 값
d:  200
e:  100

In [ ]:
#튜플과 함수
#여러 개의 값 리턴하기

def test():
  return (10, 20) #괄호 없어도 문제 없음

a, b = test()

print("a: ", a)
print("b: ", b)

a:  10
b:  20