# 리스트 & 함수 활용
복잡한 데이터의 처리 - 영화 정보 관리

In [ ]:
movies = ["기생충", "마더", "살인의 추억"] #리스트 생성 

print(movies) #리스트 전체 출력
print(movies[0]) #리스트의 특정 요소 출력
print(len(movies)) #리스트 내 요소의 개수
print()

#리스트 내 요소의 추가/제거
#영화 이름 추가
movies.append("옥자") #리스트 맨 뒤에 요소 하나 추가
movies.pop() #리스트 맨 뒤의 요소 제거
movies.extend(["설국열차", "옥자", "프란다스의 개"]) #리스트 맨 뒤에 요소 여러 개 추가
movies.remove("옥자") #리스트 내 특정 요소 제거
movies.insert(0, "옥자") #리스트 내 특정 위치에 요소 추가
movies.insert(3, "괴물")
print()
#각 영화의 개봉 년도 추가
movies.insert(2, 2019)
movies.insert(4, 2010)
movies.append(1995)
print(movies)
print()

#리스트 내 요소 출력
for each_flick in movies: #while문보다 for문 사용을 추천함! - 실수 방지
  if type(each_flick) == str: 
    print("each_flick: ", each_flick)
  else:
    continue

['기생충', '마더', '살인의 추억']
기생충
3

['기생충', '마더', '살인의 추억', '옥자']
['기생충', '마더', '살인의 추억']
['기생충', '마더', '살인의 추억', '설국열차', '옥자', '프란다스의 개']
['기생충', '마더', '살인의 추억', '설국열차', '프란다스의 개']
['옥자', '기생충', '마더', '괴물', '살인의 추억', '설국열차', '프란다스의 개']

['옥자', '기생충', 2019, '마더', 2010, '괴물', '살인의 추억', '설국열차', '프란다스의 개', 1995]

each_flick:  옥자
each_flick:  기생충
each_flick:  마더
each_flick:  괴물
each_flick:  살인의 추억
each_flick:  설국열차
each_flick:  프란다스의 개

In [ ]:
#리스트 내 리스트가 존재하는 경우
movies = [
          "The Holy Grail", 1975, "Terry Jones & Terry Giliam", 91, 
          ["Graham Chapmen", 
           ["Michel Palln", "John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones"]
          ]
         ]

for each_item in movies:
  print(each_item) 
#for 루프는 최상위 리스트에 있는 항목만 출력, 하위 리스트는 있는 그대로 출력되었음

print()

for each_item in movies:
  if isinstance(each_item, list): #each_item이 list이면,
    for nested_item in each_item: 
      if isinstance(nested_item, list): #nested_item이 list이면,
        for deeper_item in nested_item: #같은 작업이 반복됨 > 함수 사용!
          print(deeper_item)
      else:
        print(nested_item)
  else:
    print(each_item)

The Holy Grail
1975
Terry Jones & Terry Giliam
91
['Graham Chapmen', ['Michel Palln', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones']]

The Holy Grail
1975
Terry Jones & Terry Giliam
91
Graham Chapmen
Michel Palln
John Cleese
Terry Gilliam
Eric Idle
Terry Jones

In [ ]:
#복습

cast = ["Cleese", "Palin", "Jones", "Idle"]
print(cast)
print(len(cast))
print()

cast.append("Gilliam")
cast.pop()
cast.extend(["Gilliam", "Chapman"])
cast.remove("Chapman")
cast.insert(0, "Chapman")
print(cast)
print()

for person in cast:
  print(person)

['Cleese', 'Palin', 'Jones', 'Idle']
4

['Chapman', 'Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']

Chapman
Cleese
Palin
Jones
Idle
Gilliam

In [ ]:
#하지만 비효율적인 코드
#재귀함수(recursion function)를 활용해 간단히 작성하기

재귀함수

In [ ]:
#재귀함수(recursion functio): 자기 자신을 호출하는 함수
#팩토리얼 계산 함수
print("#5!를 계산하는 방법")

print("#방법 1(직접 계산)")
print(1 * 2 * 3 * 4 * 5)
print()

print("#방법 2(반복문)")
result = 1
for i in range(1, 5 + 1):
  result *= i
print(result)
print()

print("#방법 3(재귀함수)")
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
factorial(5)

#5!를 계산하는 방법
#방법 1(직접 계산)
120

#방법 2(반복문)
120

#방법 3(재귀함수)

120

global counter

In [ ]:
#피보나치 수열
counter = 1000

def fibonacci(n):
  global counter 
  counter = 100
  print("counter = ", counter)
  if n < 3:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)
    
fibonacci(10)

In [ ]:
#피보나치 수열
counter = 0

def fibonacci(n):
  global counter 
  counter += 1 #+= 등의 복합 연산자는 연산 전에 변수에 값이 저장되어 있어야 함 
  print("counter = ", counter)
  if n < 3:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)
    
fibonacci(5)

counter =  1
counter =  2
counter =  3
counter =  4
counter =  5
counter =  6
counter =  7
counter =  8
counter =  9

5

In [ ]:
#메모화 - 같은 값은 한 번만 계산하도록 코드 수정 
dictionary = {
    1: 1,
    2: 2
}

def fibonacci(n):
  if n in dictionary:
    return dictionary[n]
  else:
    output = fibonacci(n - 1) + fibonacci(n - 2)
    dictionary[n] = output
    return output
  
fibonacci(100)

573147844013817084101



---

In [ ]:
#함수 정의
def print_lol(the_list):
  for each_item in the_list:
    if isinstance(each_item, list):
      print_lol(each_item)
    else:
      print(each_item)

movies = [
          "The Holy Grail", 1975, "Terry Jones & Terry Giliam", 91, 
          ["Graham Chapmen", 
           ["Michel Palln", "John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones"]
          ]
         ]

print_lol(movies)

The Holy Grail
1975
Terry Jones & Terry Giliam
91
Graham Chapmen
Michel Palln
John Cleese
Terry Gilliam
Eric Idle
Terry Jones



---

In [ ]:
def factorial(n):
  output = 1
  for i in range(1, n + 1):
    output *= i
  return output

def factorial_recursion(n):
  if n == 0:
    return 1
  else:
    return n * factorial_recursion(n - 1)

In [ ]:
counter = 0

def fibonacci(n):
  print("fibonacci({})를 구합니다.".format(n))
  global counter
  counter += 1

  if n < 3:
    return 1
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

fibonacci(10)
print("-" * 100)
print("fibonacci(10) 계산에 활용된 덧셈 횟수는 {}번 입니다.".format(counter))

fibonacci(10)를 구합니다.
fibonacci(9)를 구합니다.
fibonacci(8)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(8)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
----------------------------------------------------------------------------------------------------
fibonacci(10) 계산에 활용된 덧셈 횟수는 109번 입니다.

In [ ]:
dictionary = { #메모변수 설정 
    1: 1,
    2: 2
}

def fibonacci_memo(n):
  if n in dictionary:
    return dictionary[n]
  else: 
    output = fibonacci_memo(n - 1) + fibonacci_memo(n - 2)
    dictionary[n] = output
    return output

print(fibonacci_memo(10))

89

In [ ]:
#조기 리턴 - 들여쓰기를 최소화 코드를 더 쉽게 읽을 수 있음

dictionary2 = {
    1: 1,
    2: 2
}

#함수 선언
def fibonacci_memo(n):
  if n in dictionary:
      #메모리되어 있으면 값을 리턴
    return dictionary[n]
  #메모리되어 있지 않으면 값을 구함
  output = fibonacci_memo(n - 1) + fibonacci_memo(n - 2)
  dictionary[n] = output
  return output

print(fibonacci_memo(100))

573147844013817084101



---

In [ ]:
output = []

def flatten(data):
  for each_data in data: 
    if isinstance(each_data, list): #type(each_data) == list 보다 자주 사용 +
      flatten(each_data)
    else: 
      output.append(each_data)
  return output

example = [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

print("원본: ", example)
flatten(example)

원본:  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]

[1, 2, 3, 4, 5, 6, 7, 8, 9]



---

자습

In [ ]:
#리스트 관련 기능
movies = ["The Holy Grail", "The Lif'e of Brian", "The Meaning of Life"]
cast = ["Cleese", "Palin", "Jones", "Idle"]

cast.append("Gilliam") #리스트 맨 뒤에 항목 하나 추가
cast.pop() #리스트 맨 뒤의 항목 삭제
cast.extend(["Gilliam", "Chapman"]) #리스트 맨 뒤 여러 개의 데이터 추가
cast.remove("Chapman") #특정 데이터 제거
cast.insert(0, "Chapman") #특정 위치에 데이터 추가
print(cast)

movies.insert(1, 1975)
movies.insert(3, 1979)
movies.append(1983)
print(movies)
print()

fav_movies = ["The Holy Grail", "The Life of Brian"]
for each_flick in fav_movies: #리스트는 for 루프를 사용하는 것이 좋음 - 실수 방지
  print(each_flick)

['Chapman', 'Cleese', 'Palin', 'Jones', 'Idle', 'Gilliam']
['The Holy Grail', 1975, "The Lif'e of Brian", 1979, 'The Meaning of Life', 1983]

The Holy Grail
The Life of Brian

In [ ]:
#리스트 안의 리스트
movies = [
          "The Holy Grail", 1975, "Terry Jones & Terry Giliam", 91, 
          ["Graham Chapmen", 
           ["Michel Palln", "John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones"]
          ]
         ]

for each_item in movies:
  print(each_item) 
#for 루프는 최상위 리스트에 있는 항목만 출력, 하위 리스트는 있는 그대로 출력되었음

print()

for each_item in movies:
  if isinstance(each_item, list): #each_item이 list이면,
    for nested_item in each_item: 
      if isinstance(nested_item, list): #nested_item이 list이면,
        for deeper_item in nested_item: #같은 작업이 반복됨 > 함수 사용!
          print(deeper_item)
      else:
        print(nested_item)
  else:
    print(each_item)

The Holy Grail
1975
Terry Jones & Terry Giliam
91
['Graham Chapmen', ['Michel Palln', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones']]

The Holy Grail
1975
Terry Jones & Terry Giliam
91
Graham Chapmen
Michel Palln
John Cleese
Terry Gilliam
Eric Idle
Terry Jones

In [ ]:
#함수 정의
def print_lol(the_list):
  for each_item in the_list:
    if isinstance(each_item, list):
      print_lol(each_item)
    else:
      print(each_item)

movies = [
          "The Holy Grail", 1975, "Terry Jones & Terry Giliam", 91, 
          ["Graham Chapmen", 
           ["Michel Palln", "John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones"]
          ]
         ]

print_lol(movies)

The Holy Grail
1975
Terry Jones & Terry Giliam
91
Graham Chapmen
Michel Palln
John Cleese
Terry Gilliam
Eric Idle
Terry Jones