In [ ]:
import pandas as pd
import math

In [ ]:
A = pd.DataFrame({
    "sal" : [1200, 1600, 5600, 6000, 7000]
})

In [ ]:
A.mean() #평균

sal    4280.0
dtype: float64

In [ ]:
B = pd.DataFrame({
    "sal" : [4000, 4500, 4250, 5000, 3650]
})

In [ ]:
B.mean() #평균

sal    4280.0
dtype: float64

In [ ]:
A - A.mean() #편차

      sal
0 -3080.0
1 -2680.0
2  1320.0
3  1720.0
4  2720.0

In [ ]:
B - B.mean() #편차

     sal
0 -280.0
1  220.0
2  -30.0
3  720.0
4 -630.0

In [ ]:
((A - A.mean()) * (A - A.mean())).sum() / 4 #분산1: (편차의 제곱)/(데이터의 개수-1)

sal    7192000.0
dtype: float64

In [ ]:
A.var() #분산2

sal    7192000.0
dtype: float64

In [ ]:
B.var() #분산

sal    260750.0
dtype: float64

In [ ]:
math.sqrt(A.var()) #표준편차1: 분산의 제곱근

2681.790446697877

In [ ]:
A.std() #표준편차2

sal    2681.790447
dtype: float64

In [ ]:
B.std()

sal    510.636857
dtype: float64

# 공분산
> 두 개의 컬럼이 있을 때, 컬럼 1이 증가하면 컬럼 2도 증가 또는 감소 하는지 나타낸 지표

In [ ]:
df01 = pd.DataFrame({
    "eng_rank" : [ 1, 4, 2, 9, 9],
    "kor_rank" : [3, 2, 7, 3, 10]
})

eng_mean = df01["eng_rank"].mean()
kor_mean = df01["kor_rank"].mean()

In [ ]:
eng_sub = df01["eng_rank"] - eng_mean
kor_sub = df01["kor_rank"] - kor_mean

In [ ]:
sum(eng_sub * kor_sub) / 4

4.25

In [ ]:
df01.cov()

          eng_rank  kor_rank
eng_rank     14.50      4.25
kor_rank      4.25     11.50

#상관관계
> 공분산을 X와 Y의 표준편차로 나눠서 비율을 조회

In [ ]:
#상관관계 조회
df01.cov() / (df01["eng_rank"].std() * df01["kor_rank"].std())

          eng_rank  kor_rank
eng_rank  1.122884  0.329121
kor_rank  0.329121  0.890564

In [ ]:
df01.corr()

          eng_rank  kor_rank
eng_rank  1.000000  0.329121
kor_rank  0.329121  1.000000