개념

In [ ]:
#DBSCAN(Density-Based Spatial Clustering of Applications with Noise)
#데이터가 위치하고 있는 공간 밀집도를 기준으로 클러스터를 구분

#코어 포인트
#경계 포인트
#노이즈

#클러스터

In [ ]:
import pandas as pd
import folium

데이터 준비 및 기본 설정

In [ ]:
file_path = "2016_middle_shcool_graduates_report.xlsx"
df = pd.read_excel(file_path, header = 0)

pd.set_option("display.width", None) #출력 화면의 너비
pd.set_option("display.max_rows", 100) #출력할 행의 개수
pd.set_option("display.max_columns", 10) #출력할 열의 개수
pd.set_option("display.max_colwidth", 20) #출력할 열의 너비
pd.set_option("display.unicode.east_asian_width", True) #유니코드 사용 너비 조정

In [ ]:
df.columns.values #열 이름 배열 출력

array(['Unnamed: 0', '지역', '학교명', '코드', '유형', '주야', '남학생수', '여학생수', '일반고',
       '특성화고', '과학고', '외고_국제고', '예고_체고', '마이스터고', '자사고', '자공고', '기타진학',
       '취업', '미상', '위도', '경도'], dtype=object)

데이터 탐색

In [ ]:
df.head()

,Unnamed: 0,지역,학교명,코드,유형,...,기타진학,취업,미상,위도,경도
0,0,성북구,서울대학교사범대학부설중학교...,3,국립,...,0.004,0,0.000,37.594942,127.038909
1,1,종로구,서울대학교사범대학부설여자중학교...,3,국립,...,0.031,0,0.000,37.577473,127.003857
2,2,강남구,개원중학교,3,공립,...,0.009,0,0.003,37.491637,127.071744
3,3,강남구,개포중학교,3,공립,...,0.019,0,0.000,37.480439,127.062201
4,4,서초구,경원중학교,3,공립,...,0.010,0,0.000,37.510750,127.008900

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  415 non-null    int64
 1   지역          415 non-null    object
 2   학교명         415 non-null    object
 3   코드          415 non-null    int64
 4   유형          415 non-null    object
 5   주야          415 non-null    object
 6   남학생수        415 non-null    int64
 7   여학생수        415 non-null    int64
 8   일반고         415 non-null    float64
 9   특성화고        415 non-null    float64
 10  과학고         415 non-null    float64
 11  외고_국제고      415 non-null    float64
 12  예고_체고       415 non-null    float64
 13  마이스터고       415 non-null    float64
 14  자사고         415 non-null    float64
 15  자공고         415 non-null    float64
 16  기타진학        415 non-null    float64
 17  취업          415 non-null    int64
 18  미상          415 non-null    float64
 19  위도          415 non-null    float64
 20  경도          415 non-null    float64
dtypes: float64(12), int64(5), object(4)
memory usage: 68.2+ KB

In [ ]:
df.describe()

,Unnamed: 0,코드,남학생수,여학생수,일반고,...,기타진학,취업,미상,위도,경도
count,415.000000,415.000000,415.000000,415.000000,415.000000,...,415.000000,415.0,415.000000,415.000000,415.000000
mean,207.000000,3.197590,126.532530,116.173494,0.623080,...,0.069571,0.0,0.001670,37.491969,127.032792
std,119.944432,0.804272,79.217906,76.833082,0.211093,...,0.235630,0.0,0.003697,0.348926,0.265245
min,0.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,34.979940,126.639561
25%,103.500000,3.000000,80.000000,71.500000,0.566500,...,0.000000,0.0,0.000000,37.501934,126.921758
50%,207.000000,3.000000,129.000000,118.000000,0.681000,...,0.007000,0.0,0.000000,37.547702,127.013579
75%,310.500000,3.000000,177.500000,161.500000,0.758000,...,0.015000,0.0,0.003000,37.590670,127.071265
max,414.000000,9.000000,337.000000,422.000000,0.908000,...,1.000000,0.0,0.036000,37.694777,129.106974

In [ ]:
#지도에 위치 표시
mschool_map = folium.Map(location = [37.55, 126.98], tiles = "Stamen Terrain", zoom_start = 12)

In [ ]:
#중학교 위치 정보를 CircleMarker로 표시
for name, lat, lng in zip(df.학교명, df.위도, df.경도):
  folium.CircleMarker([lat, lng], radius = 5, color = "brown", fill = True, fill_color = "coral", fill_opacity = 0.7, popup = name).add_to(mschool_map)

In [ ]:
mschool_map.save("./seoul_mschool_location.html")

데이터 전처리

In [ ]:
#원핫인코딩(더미 변수)
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
onehot_encoder = preprocessing.OneHotEncoder()

onehot_location = label_encoder.fit_transform(df["지역"])
onehot_code = label_encoder.fit_transform(df["코드"])
onehot_type = label_encoder.fit_transform(df["유형"])
onehot_day = label_encoder.fit_transform(df["주야"])

df["location"] = onehot_location
df["code"] = onehot_code
df["type"] = onehot_type
df["day"] = onehot_day

df.head()

,Unnamed: 0,지역,학교명,코드,유형,...,경도,location,code,type,day
0,0,성북구,서울대학교사범대학부설중학교...,3,국립,...,127.038909,16,0,1,0
1,1,종로구,서울대학교사범대학부설여자중학교...,3,국립,...,127.003857,22,0,1,0
2,2,강남구,개원중학교,3,공립,...,127.071744,0,0,0,0
3,3,강남구,개포중학교,3,공립,...,127.062201,0,0,0,0
4,4,서초구,경원중학교,3,공립,...,127.008900,14,0,0,0

모형 학습 및 검증

In [ ]:
from sklearn import cluster

#분석에 사용할 속성 선택(과학고, 외고국제고, 자사고 진학률)
columns_list = [9, 10, 13]
X = df.iloc[:, columns_list]

In [ ]:
X = preprocessing.StandardScaler().fit(X).transform(X) #정규화

In [ ]:
dbm = cluster.DBSCAN(eps = 0.2, min_samples = 5) #DBSCAN 모형 객체 생성

In [ ]:
dbm.fit(X) #모형 학습

DBSCAN(algorithm='auto', eps=0.2, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [ ]:
cluster_label = dbm.labels_ #예측
df["Cluster"] = cluster_label #예측 결과를 데이터프레임에 추가

In [ ]:
#클러스터 값으로 그룹화하고 그룹별로 내용을 출력
grouped_cols = [0, 1, 3] + columns_list
grouped = df.groupby("Cluster")
for key, group in grouped:
  print("* key: ", key)
  print("* number: ", len(group))
  print(group.iloc[:, grouped_cols].head())
  print()

* key:  -1
* number:  234
   Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
0           0  성북구     3     0.148   0.018       0.011
2           2  강남구     3     0.047   0.009       0.006
3           3  강남구     3     0.097   0.013       0.019
6           6  강남구     3     0.015   0.015       0.000
7           7  강남구     3     0.000   0.032       0.000

* key:  0
* number:  70
    Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
1            1  종로구     3     0.199     0.0         0.0
13          13  서초구     3     0.032     0.0         0.0
23          23  강남구     3     0.025     0.0         0.0
28          28  서초구     3     0.040     0.0         0.0
29          29  강남구     3     0.051     0.0         0.0

* key:  1
* number:  7
    Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
4            4  서초구     3     0.017   0.007         0.0
24          24  강남구     3     0.026   0.007         0.0
27          27  강남구     3     0.006   0.006         0.0
53          53  강동구     3     0.020   0.007         0.0
68          68  송파구     3     0.011   0.007         0.0

* key:  2
* number:  6
    Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
8            8  강남구     3     0.018   0.013         0.0
12          12  강남구     3     0.000   0.013         0.0
19          19  서초구     3     0.005   0.013         0.0
25          25  서초구     3     0.012   0.012         0.0
91          91  양천구     3     0.028   0.011         0.0

* key:  3
* number:  12
    Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
47          47  강동구     3     0.171     0.0       0.005
51          51  송파구     3     0.153     0.0       0.004
80          80  양천구     3     0.189     0.0       0.003
83          83  강서구     3     0.194     0.0       0.004
88          88  강서구     3     0.198     0.0       0.006

* key:  4
* number:  11
    Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
56          56  강동구     3     0.094     0.0       0.007
59          59  강동구     3     0.093     0.0       0.004
62          62  강동구     3     0.087     0.0       0.006
78          78  강동구     3     0.112     0.0       0.004
84          84  양천구     3     0.094     0.0       0.003

* key:  5
* number:  9
     Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
5             5  강남구     3     0.066   0.007         0.0
65           65  송파구     3     0.081   0.006         0.0
96           96  양천구     3     0.083   0.006         0.0
122         122  구로구     3     0.079   0.004         0.0
134         134  구로구     3     0.063   0.005         0.0

* key:  6
* number:  13
     Unnamed: 0      지역  코드  특성화고  과학고  마이스터고
67           67    송파구     3     0.226     0.0       0.004
145         145    구로구     3     0.249     0.0       0.004
153         153  동대문구     3     0.222     0.0       0.004
160         160  동대문구     3     0.225     0.0       0.006
167         167  동대문구     3     0.224     0.0       0.004

* key:  7
* number:  7
     Unnamed: 0      지역  코드  특성화고  과학고  마이스터고
130         130    금천구     3     0.329     0.0         0.0
170         170  동대문구     3     0.327     0.0         0.0
298         298    성동구     3     0.323     0.0         0.0
299         299    광진구     3     0.309     0.0         0.0
316         316    강북구     3     0.305     0.0         0.0

* key:  8
* number:  6
     Unnamed: 0      지역  코드  특성화고  과학고  마이스터고
74           74    강동구     3     0.215     0.0       0.012
123         123    금천구     3     0.242     0.0       0.013
149         149  동대문구     3     0.213     0.0       0.013
181         181    관악구     3     0.222     0.0       0.013
311         311    성북구     3     0.222     0.0       0.014

* key:  9
* number:  5
     Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
219         219  노원구     3     0.110   0.003       0.003
238         238  도봉구     3     0.115   0.003       0.003
240         240  도봉구     3     0.098   0.003       0.003
291         291  성동구     3     0.089   0.003       0.003
372         372  송파구     3     0.098   0.004       0.004

* key:  10
* number:  5
     Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
280         280  은평구     3     0.185   0.005       0.005
294         294  성동구     3     0.179   0.005       0.005
296         296  성동구     3     0.180   0.005       0.005
337         337  용산구     3     0.168   0.005       0.005
345         345  용산구     3     0.201   0.005       0.005

* key:  11
* number:  30
     Unnamed: 0    지역  코드  특성화고  과학고  마이스터고
384         384  종로구     5       0.0     0.0         0.0
385         385  마포구     5       0.0     0.0         0.0
386         386  종로구     5       0.0     0.0         0.0
387         387  강서구     5       0.0     0.0         0.0
388         388  서초구     5       0.0     0.0         0.0

In [ ]:
#그래프로 표현 - 시각화
colors = {
    -1 : "gray", 0 : "coral", 1 : "blue", 2 : "green", 3 : "red", 4: "purple",
    5 : "orange", 6 : "brown", 7 : "brick", 8 : "yellow", 9 : "magenta", 10 : "cyan"
}

cluster_map = folium.Map(location = [37.55, 126.98], tiles = "Stamen Terrain", zoom_start = 12)

for name, lat, lng, clus in zip(df.학교명, df.위도, df.경도, df.Cluster):
  folium.CircleMarker([lat, lng], radius = 5, color = colors[clus], fill = True, fill_color = colors[clus], fill_opacity = 0.7, popup = name).add_to(cluster_map)

cluster_map.save("./seoul_mschool_cluster.html")

KeyError: ignored